

table {
  color: #2A2B2A;
  background: #F3EFE0;
  font-family: 'Montserrat', sans-serif;
}

table.header {
  background: #f2f0ec;
  padding: 50px 0;
  border-bottom: 3px solid white;
  text-align: center;
}

table.h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 10px 30px;
  display: inline-block;
  border: 3px solid white;
  color: white;
}

table.ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  max-width: 900px;
  margin: 50px auto;
}
table.p {
  margin: 5px;
}
table.li {
  display: flex;
  align-items: stretch;
  width: 48%;
  padding: 10px 0;
}
table.menu-name {
  flex: 0 0 auto;
  font-weight: 500;
  font-size: 18px;
}
table.dots {
  border-bottom: 1px dotted black;
  margin-bottom: 7px;
  flex: 1 1 50%;
}
table.menu-price {
  font-size: 16px;
}
